[submodule "vendor/all-the-icons.el"]
	path = vendor/all-the-icons.el
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "vendor/doom-theme"]
	path = vendor/doom-theme
	url = git@github.com:hlissner/emacs-doom-theme.git
