.DS_Store
.python-environments/
.emacs.desktop*
.custom.el
.cask
.local
.mc-lists.el
ac-comphist.dat
auto-save-list/
elpa/
eshell/
init-elpy-experiment
init_bash.sh
places
projectile-bookmarks.eld
recentf
private/
vendor/
irony
todo.org